
input{
    margin-bottom: 4px;
}
label{
    font-weight: bold;
}
form{
    margin-bottom: 10px;
    border: 12px solid white;
}
ul{
    width: 50vw;
}
#itemslist{
    list-style: none;
}
#premium{
    list-style-type: decimal-leading-zero;
}
li{
    width: 45vw;
    margin: 0.3rem;
    padding: 4px;
    border: 2px solid wheat;
    color: rgb(132, 251, 12);
}
.btn{
    background-color:rgb(33, 236, 247);
    color: rgb(6, 6, 240);
    font-weight: bolder;
    margin-right: 3px;
    cursor: pointer;
}
#submit{
    background-color: rgb(112, 6, 31);
    color: white;
}
.btn:hover{
    font-weight: bolder;
}
#submit:hover{
    color: chartreuse;
    
}
.pagination{
    width:0.9rem;
    background-color: rgb(7, 182, 48);
    cursor: pointer;
}
#page{
    display: flex;
}